$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';

//Colors:
$black: #202020;
$red: #b81d18;
$grey: #b6b6b6;
$blue: #004687;
$white: #f0f0f0;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body *{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body {
    background: url(../images/dark-brick.jpg);
    font-size: 18px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    background: rgba(182,182,182,.8);
    height: 71px;
    border: none;

    h3,
    .login-btns{
        display: inline-block;
    }

    .login-btns button{
        margin-top: 10px;
        font-size: 22px;
        width: 120px;
    }

    h3 {
        line-height: 2.75em;
        color: $red;
    }

    #logout-btn{
        display: none;
    }
}

.container{
    padding-bottom: 40px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

.modal-content{
    width: 450px;
    box-shadow: 1px 1px 1px whitesmoke;
    color: $blue;
    @include border-radius(6px);

    .modal-header{
        background: $grey;
        color: $red;
        border-bottom: 1px solid #502B29;
        @include border-radius(6px 6px 0 0);

        h2{
            text-align: center;
        }
    }

    .modal-body{
        padding-left: 30px;
        background: #DCDCDC;
        @include border-radius(0 0 6px 6px);

        .returning-users,
        .new-users{
            padding-bottom: 30px;
        }

        h3{
            text-align: center;
            margin-bottom: 20px;

            &:nth-child(1){
                margin-top: 20px;
            }
        }

        div{
            margin: 10px 0;

            label{
                width: 80px;
            }

            input{
                margin-left: 15px;
                padding-left: 5px;
                @include border-radius(6px);

                &[type=file]{
                    width: 220px;
                }
            }
        }    

        button{
            position: absolute;
            right: 0;
            margin-top: 5px;
            margin-right: 15px;
            width: 120px;
        }
    }
}
    
.left-side,
.message-stream-plus-header{
    margin-top: 60px;
    display: none;
}

.left-side{
    margin-left: 20px;
    margin-right: 40px;
    background: $blue;
    padding-bottom: 15px;
    @include border-radius(6px);
    
    .user-stuff{
        text-align: center;

        .avatar{
            width: 100%;
            margin-top: 15px;
            @include border-radius(50%);
        }

        h3{
            color: $red;
            padding: 10px 0;
        }
    }

    #message-data{
        width: 100%;
        height: 115px;
        padding: 5px;
    }

    #send-btn{
        float: right;
        margin-top: 10px;
        width: 90px;
    }
}

.message-stream-plus-header{
    background: rgba(255,255,255,.8);
    color: #3B3C4E;
    margin-bottom: 60px;
    padding-bottom: 15px;
    box-shadow: -1px -1px 1px rgb(148, 156, 218);
    @include border-radius(6px);

    .message-stream-header{
        font-size: 24px;
        color: $red;
        border-bottom: 1px solid #502B29;
        padding: 10px 5px;
    }

    .message-stream{
        .message-row{
            border-bottom: 1px solid $blue;
            padding: 10px;
            height: 75px;
            overflow: hidden;

            .message-header{
                margin-bottom: 10px;

                h4,
                span{
                    display: inline-block;
                }

                span{
                    float: right;
                    font-style: italic;
                }
            }

            .message-body{
                padding-left: 10px;
            }

            &.expand{
                overflow: auto;
                height: auto;
            }
        }
    }
}