$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    display: none;
}

.container{
    padding-bottom: 40px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        padding-bottom: 20px;
        margin-bottom: 30px;

        h3,
        .login-btns{
            display: inline-block;
        }

        #logout-btn{
            display: none;
        }
    }
}

.modal-content{
    width: 450px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px whitesmoke;
    color: rgb(68, 72, 119);

    .modal-header{
        background: #A19EB5;
        border-radius: 6px 6px 0 0;
        border-bottom: 1px solid rgb(68, 72, 119);
    }

    .modal-body{
        padding-left: 30px;
        background: rgb(95, 124, 199);
        border-radius: 0 0 6px 6px;

        h3{
            margin-top: 0;
            margin-bottom: 20px;

            &:nth-child(1){
                margin-top: 20px;
            }
        }

        div{
            margin: 10px 0;

            label{
                width: 80px;
            }
        }    

        button{
            margin-left: 250px;
        }
    }
}
    
.left-side,
.message-stream{
    display: inline-block;
    display: none;

}

.left-side{
    margin: 10px 20px 0 20px;
    background: rgb(93, 96, 109);
    padding-bottom: 15px;
    border-radius: 6px;
    padding-bottom: 15px;
    border-radius: 6px;
    
    .avatar{
        width: 200px;
        height: 200px;
        margin-top: 15px;
    }

    h3{
        margin: 20px 0;
        text-align: center;
    }

    #message-data{
        width: 200px;
        height: 115px;
    }

    #send-btn{
        float: right;
        margin-top: 10px;
    }
}

.message-stream{
    border-radius: 6px;
    background: rgb(95, 124, 199);
    margin-top: 10px;
    box-shadow: -1px -1px 1px rgb(148, 156, 218);

    .message-stream-header{
        font-size: 24px;
        border-bottom: 1px solid rgb(68, 72, 119);
        padding: 10px 5px;
    }

    .message-row{
        border-bottom: 1px solid rgb(148, 156, 218);
        padding: 10px;
        height: 83px;
        overflow: hidden;

        .message-header{
            margin-bottom: 10px;

            h4,
            span{
                display: inline-block;
            }

            h4{
                margin: 0;
            }

            span{
                float: right;
            }
        }

        &.expand{
            height: auto;
        }
    }
}





















